
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
.desktop-2-HUr {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffee;
}
.desktop-2-HUr .auto-group-wa8d-DNW {
  width: 133rem;
  height: 6.7rem;
  position: absolute;
  left: 5.2rem;
  top: 6.9rem;
  display: flex;
  align-items: center;
}
.desktop-2-HUr .auto-group-wa8d-DNW .removebg-preview-1-vXp {
  margin-right: 32.8rem;
  width: 44.7rem;
  height: 6.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-HUr .auto-group-wa8d-DNW .home-qen {
  margin: 0rem 5rem 0.6rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-HUr .auto-group-wa8d-DNW .how-it-works-Y3Q {
  margin: 0rem 5.6rem 0.2rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-HUr .auto-group-wa8d-DNW .auto-group-l3ho-2DU {
  margin-bottom: 1.1rem;
  width: 27rem;
  height: 5.4rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-HUr .auto-group-wa8d-DNW .auto-group-l3ho-2DU .frame-1-x78 {
  width: 17.9rem;
  height: 5.2rem;
  position: absolute;
  left: 9.1rem;
  top: 0;
  overflow: hidden;
}
.desktop-2-HUr .auto-group-wa8d-DNW .auto-group-l3ho-2DU .rectangle-5-tWa {
  width: 26rem;
  height: 5.3rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #84cb25;
  border-radius: 2rem;
}
.desktop-2-HUr .auto-group-wa8d-DNW .auto-group-l3ho-2DU .r4pv7u6wtyijnm-bft {
  width: 19rem;
  height: 2.5rem;
  position: absolute;
  left: 3.1rem;
  top: 1.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #fdfffe;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

/* Second Layout  */

.desktop-2-HUr .auto-group-qsb3-GX8 {
  box-sizing: border-box;
  margin-top: 2rem;
  padding: 6.6rem 20.1rem 16.4rem 16.7rem;
  width: 90.7rem;
  height: 59.8rem;
  position: absolute;
  left: 16.5rem;
  top: 11.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 95% 90%;
  background-repeat: no-repeat;
  background-position:center;
  object-fit: cover;
  background-image: url('../../assets/rectangle-10-bg.png');
  border-radius: 1.5rem;
}
.desktop-2-HUr .auto-group-qsb3-GX8 .auto-group-wwau-kSJ {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 2.5rem 4rem 2.5rem 4rem;
  display: flex;
  column-gap: 5.5rem;
  align-items: center;
  background-color: #ffffee;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.desktop-2-HUr .auto-group-qsb3-GX8 .auto-group-wwau-kSJ .item-8-Ftr {
  margin-top: 0.1rem;
  width: 11.2rem;
  height: 13.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.desktop-2-HUr .auto-group-qsb3-GX8 .auto-group-wwau-kSJ .item-9-BXc {
  margin-bottom: 0.1rem;
  width: 11.2rem;
  height: 13.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.desktop-2-HUr .auto-group-qsb3-GX8 .auto-group-wwau-kSJ .collection-hVx {
  margin-top: 0.1rem;
  width: 11.2rem;
  height: 13.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.desktop-2-HUr .auto-group-qsb3-GX8 .auto-group-jevh-zjx {
  box-sizing: border-box;
  padding: 2.5rem 12.5rem 2.5rem 12.5rem;
  row-gap: 2.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffee;
  border-radius: 2rem;
  flex-shrink: 0;
}
.desktop-2-HUr .auto-group-qsb3-GX8 .auto-group-jevh-zjx .number-of-nfts-3-7Jn {
  font-size: 2.5rem;
  margin-right: 2.9rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-HUr .auto-group-qsb3-GX8 .auto-group-jevh-zjx .number-of-trees-15-2Ar {
  margin-right: 2.9rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-HUr .auto-group-qsb3-GX8 .auto-group-jevh-zjx .total-value-3-sol-x4W {
  margin-right: 5.9rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-HUr .your-contribution-z1C {
  width: 33.2rem;
  height: 4.9rem;
  position: absolute;
  left: 50.6rem;
  top: 8.6rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 17, 0.6299999952);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  margin-top:4rem;
}
