.desktop-6-RwC {
  box-sizing: border-box;
    width: 100%;
    height: 90vw;
    position: relative;
    overflow: hidden;
}
.desktop-6-RwC .measuring-and-reporting-AJS {
font-size: 4rem;
line-height: 1.2125;
font-family: Inter, 'Source Sans Pro';
white-space: nowrap;
position: absolute;
left: 18rem;
top: 10.7rem;
color: #455636;
}

.desktop-6-RwC .auto-group-czst-tVL {
 position: absolute;
left: 18rem;
  top: 18.5rem;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
}


.desktop-6-RwC .line-5-ck6 {
width: 85%;
position: absolute;
left: 5rem;
  top: 21rem;
vertical-align: top;
z-index: 0;
}
