.desktop-4-AX8 {
  width: 100%;
    height: 118.4rem;
    position: relative;
    overflow: hidden;
    background-color: #ffffee;
}
.desktop-4-AX8 .auto-group-rhbk-ruk {
  margin: 0rem 5.8rem 4.5rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-4-AX8 .auto-group-rhbk-ruk .removebg-preview-1-yUa {
  margin-right: 32.8rem;
  width: 44.7rem;
  height: 6.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-4-AX8 .auto-group-rhbk-ruk .home-ajG {
  margin: 0rem 5rem 0.6rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-4-AX8 .auto-group-rhbk-ruk .how-it-works-TYA {
  margin: 0rem 5.6rem 0.2rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-4-AX8 .auto-group-rhbk-ruk .auto-group-8v45-k1U {
  margin-bottom: 1.1rem;
  width: 27rem;
  height: 5.4rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-4-AX8 .auto-group-rhbk-ruk .auto-group-8v45-k1U .frame-1-Fyp {
  width: 17.9rem;
  height: 5.2rem;
  position: absolute;
  left: 9.1rem;
  top: 0;
  overflow: hidden;
}
.desktop-4-AX8 .auto-group-rhbk-ruk .auto-group-8v45-k1U .rectangle-5-amC {
  width: 26rem;
  height: 5.3rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #84cb25;
  border-radius: 2rem;
}
.desktop-4-AX8 .auto-group-rhbk-ruk .auto-group-8v45-k1U .r4pv7u6wtyijnm-tG6 {
  width: 19rem;
  height: 2.5rem;
  position: absolute;
  left: 3.1rem;
  top: 1.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #fdfffe;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-AX8 .your-carbon-footprint-jXc {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 17, 0.6299999952);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  position: absolute;
  left: 27.9rem;
  top: 10.7rem;
}

/* Second Layout */

.desktop-4-AX8 .auto-group-ynay-crJ {
  width: 100% ;
  height: 109.9rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-4-AX8 .auto-group-ynay-crJ .pngegg-3-1-jA {
  width: 31.7rem;
  height: 41.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-4-AX8 .auto-group-ynay-crJ .auto-group-lxus-RHx {
  width: 95.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  
}
.desktop-4-AX8 .auto-group-ynay-crJ .auto-group-lxus-RHx .co2-footprint-metrics--Lvi {
  margin: 0rem 21.2rem 1.2rem 0rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 17, 0.6299999952);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-4-AX8 .auto-group-ynay-crJ .auto-group-lxus-RHx .auto-group-98hs-F26 {
  width: 100%;
  height: 55.8rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-4-AX8 .auto-group-ynay-crJ .auto-group-lxus-RHx .auto-group-98hs-F26 .pngwing-1-mFL {
  width: 76.7rem;
  height: 65.2rem;
  position: absolute;
  left: 10.1rem;
  top: 0.6rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-4-AX8 .auto-group-ynay-crJ .auto-group-lxus-RHx .auto-group-98hs-F26 .rectangle-14-f5p {
  width: 60.6rem;
  height: 38.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(132, 203, 37, 0.200000003);
  border-radius: 2.5rem;
}
.desktop-4-AX8 .auto-group-ynay-crJ .auto-group-lxus-RHx .auto-group-98hs-F26 .rectangle-15-Zwt {
  width: 45.7rem;
  height: 4.6rem;
  position: absolute;
  left: 5.5rem;
  top: 2rem;
}
.desktop-4-AX8 .auto-group-ynay-crJ .auto-group-lxus-RHx .auto-group-98hs-F26 .rectangle-16-6S2 {
  width: 45.7rem;
  height: 4.6rem;
  position: absolute;
  left: 5.5rem;
  top: 2rem;
  background-color: #ffffee;
  border-radius: 1.5rem;
}
.desktop-4-AX8 .auto-group-ynay-crJ .auto-group-lxus-RHx .auto-group-98hs-F26 .rectangle-17-1ot {
  width: 45.7rem;
  height: 4.6rem;
  position: absolute;
  left: 5.5rem;
  top: 8.8rem;
  background-color: #ffffee;
  border-radius: 1.5rem;
}
.desktop-4-AX8 .auto-group-ynay-crJ .auto-group-lxus-RHx .auto-group-98hs-F26 .rectangle-18-vR4 {
  width: 45.7rem;
  height: 4.6rem;
  position: absolute;
  left: 5.5rem;
  top: 16.8rem;
  background-color: #ffffee;
  border-radius: 1.5rem;
}
.desktop-4-AX8 .auto-group-ynay-crJ .auto-group-lxus-RHx .auto-group-98hs-F26 .rectangle-19-q2E {
  width: 45.7rem;
  height: 4.6rem;
  position: absolute;
  left: 5.5rem;
  top: 24.8rem;
  background-color: #ffffee;
  border-radius: 1.5rem;
}
.desktop-4-AX8 .auto-group-ynay-crJ .auto-group-lxus-RHx .auto-group-98hs-F26 .rectangle-20-szW {
  width: 45.7rem;
  height: 4.6rem;
  position: absolute;
  left: 5.5rem;
  top: 32.8rem;
  background-color: #ffffee;
  border-radius: 1.5rem;
}
.desktop-4-AX8 .auto-group-ynay-crJ .auto-group-lxus-RHx .auto-group-98hs-F26 .emissions-tracking-o7U {
  width: 27.1rem;
  height: 3.7rem;
  position: absolute;
  left: 8.9rem;
  top: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 17, 0.6299999952);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-AX8 .auto-group-ynay-crJ .auto-group-lxus-RHx .auto-group-98hs-F26 .carbon-accounting-gSA {
  width: 27.3rem;
  height: 3.7rem;
  position: absolute;
  left: 9.3rem;
  top: 9.3rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 17, 0.6299999952);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-AX8 .auto-group-ynay-crJ .auto-group-lxus-RHx .auto-group-98hs-F26 .footprint-analysis-As8 {
  width: 25.4rem;
  height: 3.7rem;
  position: absolute;
  left: 9.9rem;
  top: 17.3rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 17, 0.6299999952);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-AX8 .auto-group-ynay-crJ .auto-group-lxus-RHx .auto-group-98hs-F26 .emissions-monitoring-4Si {
  width: 30.2rem;
  height: 3.7rem;
  position: absolute;
  left: 9.9rem;
  top: 25.3rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 17, 0.6299999952);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-AX8 .auto-group-ynay-crJ .auto-group-lxus-RHx .auto-group-98hs-F26 .carbonauditing-KdY {
  width: 23rem;
  height: 3.7rem;
  position: absolute;
  left: 10.9rem;
  top: 33.3rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 17, 0.6299999952);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
