  .glassCard {
      background: rgba(255, 255, 255, 0.55);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(0px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .loginback {
      background: linear-gradient(6deg, rgba(220, 249, 221, 1) 0%, rgba(150, 223, 179, 1) 100%, rgba(188, 231, 166, 0.5664390756302521) 255%);
  }