
.desktop-1-42a{
  width: 100%;
    height: auto;
    position: relative;
    background-color: #ffffee;
}
.desktop-1-42a .auto-group-zlsh-nEi {
  width: 100%;
  height: 68rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-1-42a .auto-group-zlsh-nEi .auto-group-gjdw-qin {
  margin: 0.4rem 11.8rem 0rem 3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-42a .auto-group-zlsh-nEi .auto-group-gjdw-qin .gotlogouncut-removebg-preview-1-j3U {
  margin: 0rem 0rem 6rem 0.1rem;
  width: 38.3rem;
  height: 12.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-42a .auto-group-zlsh-nEi .auto-group-gjdw-qin .image-text {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
  position: absolute;
  top: 28.5rem;
  left: 12rem;

}

.desktop-1-42a .auto-group-zlsh-nEi .auto-group-gjdw-qin .pngwing-2-PNv {
  margin-bottom: 3.5774rem;
  width: 31.6656rem;
  height: 7.1226rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-42a .auto-group-zlsh-nEi .auto-group-gjdw-qin .full-solana-logo-1-3iN {
  margin-left: 2rem;
  width: 27.3rem;
  height: 3.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-42a .auto-group-zlsh-nEi .auto-group-4bx3-w34 {
  width: 74.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
  margin-top: 8rem;
}
.desktop-1-42a .auto-group-zlsh-nEi .auto-group-4bx3-w34 .rectangle-1-1oc {
  width: 62.1rem;
  height: 43.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #84cb25;
  border-radius: 2.5rem;
}
.desktop-1-42a .auto-group-zlsh-nEi .auto-group-4bx3-w34 .rectangle-2-WVU {
  width: 52.4rem;
  height: 5.9rem;
  position: absolute;
  left: 3.4rem;
  top: 8.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #fffdfd;
  border-radius: 2rem;
}
.desktop-1-42a .auto-group-zlsh-nEi .auto-group-4bx3-w34 .rectangle-6-ZyY {
  width: 53.7rem;
  height: 6rem;
  position: absolute;
  left: 3.4rem;
  top: 20.4rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #fffdfd;
  border-radius: 2rem;
}
.desktop-1-42a .auto-group-zlsh-nEi .auto-group-4bx3-w34 .rectangle-4-nrJ {
  width: 53.7rem;
  height: 5.9rem;
  position: absolute;
  left: 3.4rem;
  top: 31rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #fdfffe;
  border-radius: 2rem;
}
.desktop-1-42a .auto-group-zlsh-nEi .auto-group-4bx3-w34 .r4pv7u6wtyijnmelfi7hcqrvath2r4yatqgvjdbvg3r-s74 {
  width: 53.7rem;
  position: absolute;
  left: 6.1rem;
  top: 10.3rem;
}
.desktop-1-42a .auto-group-zlsh-nEi .auto-group-4bx3-w34 .number-of-nfts-JCN {
  width: 15.7rem;
  height: 2.5rem;
  position: absolute;
  left: 5.5rem;
  top: 17.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #fffdfd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-42a .auto-group-zlsh-nEi .auto-group-4bx3-w34 .mint-your-nft-vUe {
  width: 20.6rem;
  height: 3.7rem;
  position: absolute;
  left: 20rem;
  top: 3rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #fffdfd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-42a .auto-group-zlsh-nEi .auto-group-4bx3-w34 .enter-the-number-of-nfts-kia {
  width: 53.7rem;
  position: absolute;
  left: 6.1rem;
  top: 22.4rem;
}
.desktop-1-42a .auto-group-zlsh-nEi .auto-group-4bx3-w34 .mint-ZAE {
  width: 53.7rem;
  height: 5.5rem;
  position: absolute;
  left: 6.1rem;
  top: 32.6rem;
  background-color: #fffdfd;
  color: rgba(0, 0, 17, 0.6299999952);
  font-size: 1.8rem;
  line-height: 1.2125;
}
.desktop-1-42a .auto-group-zlsh-nEi .auto-group-4bx3-w34 .pngwing-3-EXG {
  width: 65.5rem;
  height: 29.2rem;
  position: absolute;
  z-index: 1;
  left: 0rem;
  top: 8.9rem;
  object-fit: cover;
  vertical-align: top;
}
