input {
    border: none;
}
.desktop-1-42aa {
    padding: 2.3rem 0rem 1.5rem 0rem;
    overflow: hidden;
    position: relative;
    align-items: flex-end;
    display: flex;
    background-color: #ffffee;
    border-bottom: 1px solid silver;
}

.desktop-1-42aa .auto-group-wh57-8wY {
    margin: 0rem 0rem 1.5rem 0rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
}

.desktop-1-42aa .auto-group-wh57-8wY .removebg-preview-1-FoC {
    width: 28.7rem;
    height: 3rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    float: left;
    cursor: pointer;
}

.desktop-1-42aa .auto-group-wh57-8wY .home-VSe {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    border-right: 1px solid #000000;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
}

.desktop-1-42aa .auto-group-wh57-8wY .home-VSe:last-child {
    border-right: none;
    /* Remove the border for the last link */
}

.desktop-1-42aa .auto-group-wh57-8wY .auto-group-vigd-kWz {
    margin-bottom: 1.1rem;
    width: 27rem;
    height: 5.4rem;
    position: relative;
    justify-content: start;
    flex-shrink: 0;
}

.desktop-1-42aa .auto-group-wh57-8wY .auto-group-vigd-kWz .frame-1-Suc {
    width: 18.9rem;
    height: 5.2rem;
    position: absolute;
    left: 20.1rem;
    top: 0;
    overflow: hidden;
}

.desktop-1-42aa .auto-group-wh57-8wY .auto-group-vigd-kWz .rectangle-5-XAN {
    width: 27rem;
    height: 5.3rem;
    position: absolute;
    left: 0;
    top: 0.1rem;
    background-color: #84cb25;
    border-radius: 2rem;
}

.desktop-1-42aa .auto-group-wh57-8wY .auto-group-vigd-kWz .connect-your-wallet-y2N {
    width: 18.9rem;
    height: 2.5rem;
    position: absolute;
    left: 4.5rem;
    top: 1.6rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #fdfffe;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
}